USE [Gold]
GO
/****** Object:  UserDefinedFunction [Analysis].[Factorial]    Script Date: 6/6/2025 4:52:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [Analysis].[Factorial]
(
	@Val INT	
)
RETURNS bigint
AS
BEGIN
	
	DECLARE @Res bigint = 1
	;with stp1 as 
	(
		select @Val as Rn
		union all 
		select Rn-1 from stp1
		where Rn > 1
	)
	select @Res *= Rn from stp1
	
	
	RETURN @Res

END
