USE [Gold]
GO
/****** Object:  StoredProcedure [Analysis].[MultinomialProbability]    Script Date: 6/6/2025 4:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [Analysis].[MultinomialProbability] 
@n INT
,@ProbTable Analysis.MultinomialProbTable READONLY
,@ReqTable Analysis.MultinomialRequestTable READONLY
AS


IF @n <> (select sum(OccurCount) from @ReqTable)
BEGIN
	THROW 51000, 'The @n parameter is not equal to sum(OccurCount)', 1;
END 

DECLARE @Coefficient decimal(38,5) = 1
 select 
	@Coefficient *= power(p.Probability,ISNULL(q.OccurCount,0))
 from @ProbTable P 
	LEFT JOIN @ReqTable Q on p.Id = q.Id 



declare @Denom DECIMAL(38,5) = 1
 SELECT @Denom *= Analysis.[Factorial](OccurCount) FROM @ReqTable


 SELECT (Analysis.[Factorial](@n)/@Denom)*@Coefficient as Probability
